body{
    background-color: rgb(61, 126, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    width: 300px;
}
input{
    border: none;
}
input, button{
    padding: 5px;
    margin-bottom: 5px;
    width: -webkit-fill-available;
}
button{
    cursor: progress;
    
}
button:active{
    opacity: 0.10;
}  
button[disabled]{
    opacity: 0.10;
}  
.clear{
    background-color:blue;
    color:white;
    border: 1px solid white;
   
}
.solid{
    background-color:green;
    color: white;
    border: 1px solid white;
    
}
.outline{
    background-color: brown;
    color:white;
    border: 1px solid white;
}

